<%- include('./partials/header', {page : 'Admin'}) %>
<div class="container my-5">
    <h3>Add Company</h3>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Company Name</th>
                <th scope="col">Ticker</th>
                <th scope="col">Changes</th>
                <th scope="col">Price</th>
                <th scope="col">Change Percentage</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% datas.forEach(data => { %>
            <tr>
                <td><%= data.companyName %></td>
                <td><%= data.ticker %></td>
                <td><%= data.changes %></td>
                <td><%= data.price %></td>
                <td><%= data.changesPercentage %></td>
                <form action="/add/company" method="POST">
                    <input type="hidden" name="companyName" value="<%= data.companyName %>" />
                    <input type="hidden" name="price" value="<%= data.price %>" />
                    <input type="hidden" name="changes" value="<%= data.changes %>" />
                    <td><input type="submit" value="Add" class="btn btn-info"></td>
                </form>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<%- include('./partials/footer')%>